*{
    font-family: Arial, Helvetica, sans-serif; /*to be changed*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;


    /* Most common color vaiables*/
    --pale-blue: #79e6f2;
    --pale-green:#79f7d8;
    --white:#f1f1f1;
    --black:#000;
}

a{
    color: var(--black);
    text-decoration: none;
}

ul{
    list-style:none;
}

/* Common container classes*/

.container{
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;  
}
    
.section{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.show{
    display: block;
}

.hide{
    display: none;
}

.uppercase{
    text-transform: uppercase;
}

.capitalize{
    text-transform: capitalize;
}

/* Width */

.w-40{ 
    width: 40%;
}
.w-50{ 
    width:50%
}
.w-60{ 
    width:60%
}
.w-70{ 
    width:70%
}
.w-80{ 
    width:80%
}
.w-90{ 
    width:90%
}
.w-100{ 
    width:100%
}

/* Padding */

.p-05{
    padding: 0.5rem;
}

.p-1{
    padding: 1rem;
}

.p-2{
    padding: 2rem;
}

.p-bottom-1{
    padding-bottom: 1rem;
}

.p-bottom-2{
    padding-bottom: 2rem;
}